body {
  background-color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  max-width: 960px;
  margin: 0 auto;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-evenly;
}

header, 
footer {
  background-color: #2c49bb;
  color: #ffffff;
  padding: 1rem 0.5rem;
  
}

header, nav, footer {
  font-size: 0.95rem;
}

main {
  padding: 0.5rem;
}

h1, h2 {
  font-family: 'IBM Plex Serif', serif; 
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding-bottom: 0.5rem;
  align-self: flex-end;
}

h2 {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  margin: 0;
  text-align: center;
}

ul {
  padding-left: 1.75rem;
  margin: 0;
}

li {
  list-style-type: '👉';
  padding-inline-start: 0.25rem;
  line-height: 1.5em;
}

img {
  width: 128px;
  height: auto;
  border-radius: 10px;
  margin: 0;
  border: 1px solid black;
}

footer p {
  text-align: center;
  margin: 0;
  padding: 0.5rem;
}

nav a {
  text-decoration: none;
}

footer p a {
  color: #ffffff;
}