@media only screen and (min-width: 60em) {
  div.cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }

  section {
    width: 80%;
    height: 95%;
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
  }

  section:nth-child(2),
  section:nth-child(14),
  section:nth-child(16) {
    padding: 0.5rem 1.25rem;
  }

}