body {
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
}

table {
  margin: 10px auto;
  border: 0.5px black solid;
  border-collapse: collapse;
  box-shadow: 10px 10px 0.25rem 0.25rem lightgray;
}

td,
th {
  text-align: center;
  border: 0.5px black solid;
  padding: 0.75rem;
}

th[scope=colgroup],
tfoot td {
  background-color: #7fb9c2;
}

tfoot {
  font-size: 0.8rem;
}

th[scope=colgroup] {
  font-size: 1.5rem;
  font-weight: bolder;
}

tbody tr:nth-child(even) {
  background-color: #e7ffed;
}

tbody tr:nth-child(odd) {
  background-color: #e7f0ed;
}

th[scope=col],
#goal {
  background-color: #628ca6;
  color: white;
  font-weight: bolder;
  font-size: 1.25rem;
}