@media only screen and (min-width: 32.5em) {
  header {
    justify-content: space-around;
  }

  header,
  footer,
  main,
  nav,
  .pancakes {
    font-size: 1rem;
  }

  .pancakes p {
    margin: 0;
    padding: 0.5rem;
  }

  picture .icon {
    width: 128px;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  .nav-list li {
    flex: 1 1 auto;
    display: block;
  }

  .nav-list li:first-child {
    display: none;
  }

  h1 {
    font-size: 2.5rem;
  }

  .motto {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0.25rem 0;
  }

  .herocontainer {
    position: relative;
    padding-bottom: 0.25rem;
  }

  .weather {
    width: auto;
    padding: 0.5rem;
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    background-color: rgba(232, 213, 195, 0.7);
  }

  .flex img {
    width: 70px;
    /*padding-top: 0.5rem;*/
  }

  .col-head,
  .condition {
    padding: 0.5rem 0;
    font-size: 1rem;
  }

  .kids img {
    float: left;
    width: 50%;
    margin: 0 1rem 0.5rem 0;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.4fr;
  }

  .attribution {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    /*text-align: center;*/
  }

  footer section {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
    /*height: 150px;
    */
  }

  /*.social {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: end;
  }*/

  /*.social img {
    width: 45px;
  }*/

  /*footer p {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: center;
    height: 30px;
  }*/

  #copyright {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: flex-end;
  }

  .zoomed {
    display: block;
    /*grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0;
    text-align: center;*/
  }

  .zoomed img {
    width: 100%;
    /*height: auto;*/
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
    align-items: center;
  }

  .lastfigure {
    grid-column: 1 / 3;
    width: 50%;
  }

  figcaption {
    margin: 0;
  }

  .visit {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  legend {
    font-size: 1.25rem;
  }

  form fieldset {
    padding: 0.5rem 1.75rem 0.5rem 0.5rem;
  }

  div.homeherocontainer {
    position: relative;
  }

  div.homeherocontainer section.action {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    width: 35%;
    background-color: rgba(232, 213, 195, 0.7);
  }

  .homemain {
    padding: 1rem;
  }

  div.sections {
    display: flex;
    flex-wrap: wrap;
  }

  div.sections section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  div.sections section:nth-child(even) {
    flex-direction: row-reverse;
  }

  div.sections section img {
    width: 50%;
    padding: 0.1rem;
    border-radius: 3rem 1rem;
    box-shadow: 0 0 0.5rem 0.25rem rgb(64, 64, 64);
    background-color: rgb(64, 64, 64);
  }

}