body {
  font-size: 16px;
  margin: 0 auto;
  background-color:gray;
  color: black;
  font-family: Arial, san-serif;
  padding: 0.25rem;
  text-align: center;
}

h1 {
  text-align: center;
}

li {
  margin-bottom: 10px;
  display: list-item;
  list-style-type: "🐼";
  padding-inline-start: 1ch;
}

li button {
  font-size: 0.75rem;
  margin-left: 20px;
  color: black;
}

input {
  width: 150px;
}