@media only screen and (min-width: 60em) {
  header {
    justify-content: space-evenly;
  }

  p.alertpara, p.alertheading {
    width: 60%;
  }

  header img {
    width: 110px;
  }

  body {
    max-width: 1000px;
  }

  header,
  footer,
  nav ul li a,
  main {
    font-size: 1.15rem;
  }

  main {
    padding: 1rem;
  }

  h1 {
    font-size: 3rem;
  }

  .motto {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
    padding: 0.5rem 0;
  }

  h4 {
    font-size: 1.5rem;
  }

  .active {
    font-size: 1.25rem;
    padding: 1rem;
  }

  .col-head,
  .condition {
    font-size: 1.15rem;
  }

  div.directory {
    grid-template-columns: 1fr 1fr 1fr; 
  }

  .listview {
    grid-template-columns: 1fr;
  }

  section.directors {
    padding: 1rem;
  }

  article img {
    width: 40%;
  }

  div.homecontainer {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
  }

  div.homecontainer h2 {
    grid-column: 1 / 4;    
  }

  section.upcomingevents,
  div.topekaweather {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 0 0.25rem;
  }

  section.upcomingevents {
    align-self: flex-end;
  }

  section.sally {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: block;
  }

  section.emily {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: block;
  }

  section.emily h3 {
    padding: 0.5rem 0;
  }

  div.homecontainer article {
    grid-column: 1 / 4;
  }

  section.benefits {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  
}