html {
  background-color: rgb(158, 149, 82);
}

body {
  margin: 0 auto;
  background-color: rgb(210, 221, 232);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  max-width: 960px;
  color: rgb(33, 41, 153);
  line-height: 1.25;
  text-align: left;
}

aside.alert {
  display: none;
  background-color: rgb(230, 213, 20);
  padding: 1rem;
}

p.alertheading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

header {
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

nav {
  background-color: rgb(230, 213, 20);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-list li:first-child {
  display: block;
}

.nav-list li {
  display: none;
}

.responsive li {
  display: block;
}

nav ul li a {
  display: block;
  color: rgb(33, 41, 153);
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 0.95rem;
}

nav a:hover {
  background-color: rgb(230, 41, 34);
  color: rgb(33, 41, 153);
}

.active {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: underline;
  color: rgb(33, 41, 153);
  padding: 0.9rem;
}

main,
footer {
  font-size: 0.95rem;
  padding: 0.5rem;
}

h1,
h2,
h3,
h4 {
  font-family: 'Nanum Myeongjo', serif;
  text-align: center;
}

header img {
  width: 128px;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

p {
  margin: 0;
  padding: 0 0.5rem 0.5rem;
}

section.benefits,
section.upcomingevents,
section.ad,
article,
section.weather {
  border: 1px solid rgb(33, 41, 153);
  margin: 1rem 0;
}

section.upcomingevents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.upcomingevents p {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

section.ad ul li {
  list-style-type: '🤿';
}

section.sally ul li {
  list-style-type: '✂';
}

section.emily ul li {
  list-style-type: '🎂';
}

section.ad ul li,
section.benefits ul li,
article ol li {
  padding-inline-start: 0.25rem;
  padding-inline-end: 0.5rem;
}

section.benefits p {
  padding: 0 0.5rem;
}

section picture img,
article img,
picture.herocontainer img {
  width: 100%;
}

.directory section img {
  width: 70%;
}

section div {
  text-align: center;
  margin-bottom: 1rem;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: rgb(33, 41, 153);
  padding: 0.75rem;
  background-color: rgb(230, 213, 20);
  border-radius: 0.75rem;
  margin: 0.25rem auto;
}

a.button:hover {
  background-color: rgb(230, 41, 34);
}

div.iframecontainer {
  position: relative;
  width: 100%;
  padding-bottom: 56%;
  height: 0;
}

div.iframecontainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

form fieldset {
  padding: 0.5rem 2rem 0.5rem 0.75rem;
  background-color: rgb(230, 213, 20);
  border: 1px solid rgb(33, 41, 153);
  border-radius: 5px;
}

legend {
  font-size: 1rem;
  background-color: rgb(230, 213, 20);
  border: 1px solid rgb(33, 41, 153);
  border-radius: 5px;
  margin: 0 10px;
  padding: 0.25rem;
}

form label.top,
form div label {
  display: block;
  padding: 0.75rem 0;
}

form label.top input,
form label.top textarea {
  display: block;
  width: 100%;
  padding: 0.75rem 0.5rem;
  color: rgb(33, 41, 153);
  border: 1px solid rgb(33, 41, 153);
  border-radius: 5px;
}

section.weather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  margin: 1rem auto;
}

section.weather h3 {
  grid-column: 1 / 3;
  margin: 0;
  padding: 0.5rem 0;
}

section.weather p.temp {
  grid-row: 2 / 4;
  grid-column: 1 / 3;
  align-self: center;
  justify-self: center;
  font-style: italic;
}

section.weather p.left {
  justify-self: right;
}

section.weather p.right {
  justify-self: left;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  margin: 0.5rem 0;
}

.flex-col:nth-child(1) {
  border-left: 1px solid rgb(33, 41, 153);
}

.flex-col {
  flex: 1 1 auto;
  text-align: center;
  border-right: 1px solid rgb(33, 41, 153);
  border-bottom: 1px solid rgb(33, 41, 153);
}

.col-head,
.condition {
  display: block;
  padding: 0.25rem;
}

.col-head {
  border-top: 1px solid rgb(33, 41, 153);
  border-bottom: 1px solid rgb(33, 41, 153);
}

input[type='radio'] {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid rgb(33, 41, 153);
  border-radius: 50%;
  outline: none;

}

input[type='radio']:hover {
  box-shadow: 0 0 5px 0px rgb(230, 41, 34);
}

input[type='radio']:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

input[type='radio']:checked:before {
  background: rgb(33, 41, 153);
}

form button.submit {
  display: block;
  padding: 0.75rem;
  color: rgb(33, 41, 153);
  background-color: rgb(230, 213, 20);
  border: 3px solid rgb(33, 41, 153);
  border-radius: 1rem;
  margin: 1rem auto;
  font-size: 1.1rem;
}

form label.top :required {
  border: 3px dashed rgb(230, 41, 34);
}

form label.top :required:valid {
  border: 5px double rgb(0, 128, 0);
}

span.required {
  color: rgb(255, 0, 0);
  font-size: 1.25rem;
}

div.directory {
  text-align: center;
}

div.directory section {
  border: 1px solid rgb(33, 41, 153);
  padding: 0.25rem;
  margin: 0.5rem 0;
}

div.buttons {
  display: none;
}

footer {
  text-align: center;
  border-top: 1px solid rgb(33, 41, 153);
}

div.social img {
  width: 40px;
  padding: 0.25rem;
}

div.address span {
  padding-bottom: 0.5rem;
}

.icon {
  font-size: 1.25rem;
}