html {
  background-color: rgb(158, 149, 82);
}

body {
  margin: 0 auto;
  background-color: rgb(210, 221, 232);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  max-width: 960px;
  color: rgb(33, 41, 153);
  line-height: 1.25;
  text-align: left;
}

.alert {
  display: none;
}

header {
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

nav {
  background-color: rgb(230, 213, 20);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-list li:first-child {
  display: block;
}

.nav-list li {
  display: none;
}

.responsive li {
  display: block;
}

nav ul li a {
  display: block;
  color: rgb(33, 41, 153);
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 0.95rem;
}

nav a:hover {
  background-color: rgb(230, 41, 34);
  color: rgb(33, 41, 153);
}

.active {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: underline;
  color: rgb(33, 41, 153);
  padding: 0.9rem;
}

main, footer {
  font-size: 0.95rem;
  padding: 0.5rem;
}

h1,
h2,
h3,
h4 {
  font-family: 'Nanum Myeongjo', serif;
  text-align: center;
}

header img {
  width: 128px;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

p { 
  margin: 0;
  padding: 0 0.25rem 0.5rem 0.25rem;
}

section picture img,
article picture img,
picture.herocontainer img {
  width: 100%;
}

section div {
  text-align: center;
  margin-bottom: 1rem;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: rgb(33, 41, 153);
  padding: 0.75rem;
  background-color: rgb(230, 213, 20);
  border-radius: 0.75rem;
  margin: 0.25rem auto;
}

a.button:hover {
  background-color: rgb(230, 41, 34);
}

div.iframecontainer {
  position: relative;
  width: 100%;
  padding-bottom: 56%;
  height: 0;
}

div.iframecontainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

form fieldset {
  margin: 1rem 0;
  padding: 0.5rem 2rem 0.5rem 0.75rem;
  background-color: rgb(232, 213, 195);
  box-shadow: 0 0 0.5rem 0.5rem rgb(64, 64, 64);
  border: 1px solid rgb(64, 64, 64);
  border-radius: 5px;
}

legend {
  font-size: 1rem;
  background-color: rgb(232, 213, 195);
  border: 1px solid rgb(64, 64, 64);
  border-radius: 5px;
  margin: 0 10px;
  padding: 0.25rem;
}

form label.top,
form div label,
form div.danger {
  display: block;
  padding: 0.75rem 0;

}

form label.top input,
form label.top select,
form label.top textarea {
  display: block;
  width: 100%;
  padding: 0.75rem 0.5rem;
  color: rgb(64, 64, 64);
  border: 1px solid rgb(64, 64, 64);
  border-radius: 5px;
}

form div.danger {
  display: flex;
  align-items: center;
  text-align: center;
}

/*form div.danger label.sbs {
  padding: 0.75rem;
}

form label.top #severity {
  display: block;
  padding: 0;
  width: 100%;
}

form label #severity {
  padding: 0.25rem;
}*/

input[type=radio] {
  width: 25px;
  height: 25px;
}

form button.submit {
  display: block;
  padding: 0.75rem;
  color: rgb(64, 64, 64);
  background-color: rgb(232, 213, 195);
  border: 3px solid rgb(64, 64, 64);
  border-radius: 1rem;
  margin: 1rem auto;
  font-size: 1.1rem;
}

form label.top :required {
  border: 2px solid rgb(255, 0, 0);
}

form label.top :required:valid {
  border: 2px solid rgb(0, 128, 0);
}

footer {
  text-align: center;
  border-top: 1px solid rgb(33, 41, 153);
}

div.social img {
  width: 40px;
  padding: 0.25rem;
}

div.address span {
  padding-bottom: 0.5rem;
}

.icon {
  font-size: 1.25rem;
}
/*---------fonts------------*/
/*font-family: 'Nanum Myeongjo', serif;
  font-family: 'Poppins', sans-serif;*/

/*-------------colors---------*/
/* Color Theme Swatches in Hex 
.Chamber1-1-hex { color: #212999; }
.Chamber1-2-hex { color: #E62922; }
.Chamber1-3-hex { color: #D2DDE8; }
.Chamber1-4-hex { color: #E6D514; }
.Chamber1-5-hex { color: #9E9552; }*/

/*Color Theme Swatches in RGBA 
.Chamber1-1-rgba { color: rgba(33, 41, 153, 1); }
.Chamber1-2-rgba { color: rgba(230, 41, 34, 1); }
.Chamber1-3-rgba { color: rgba(210, 221, 232, 1); }
.Chamber1-4-rgba { color: rgba(230, 213, 20, 1); }
.Chamber1-5-rgba { color: rgba(158, 149, 82, 1); }*/

/*Color Theme Swatches in HSLA 
.Chamber1-1-hsla { color: hsla(236, 64, 36, 1); }
.Chamber1-2-hsla { color: hsla(2, 79, 51, 1); }
.Chamber1-3-hsla { color: hsla(209, 32, 86, 1); }
.Chamber1-4-hsla { color: hsla(55, 83, 49, 1); }
.Chamber1-5-hsla { color: hsla(52, 31, 47, 1); }*/