@media only screen and (min-width: 60em) {
  .pancakes p {
    padding: 0.75rem;
  }

  header {
    justify-content: space-evenly;
  }

  header,
  footer,
  main,
  nav,
  .pancakes p {
    font-size: 1.25rem;
  }

  main.stormcenter {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    display: grid;
    grid-template-columns: 1.25fr 0.75fr;
  }

  picture .icon {
    width: 180px;
  }

  h1 {
    font-size: 3rem;
  }

  .motto {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  .kids img {
    box-shadow: 0 0 1rem 0.55rem rgb(64, 64, 64);
  }

  .weather {
    padding: 0.75rem;
    font-size: 1.25rem;
    top: 1rem;
    left: 1rem;
  }

  .active {
    font-size: 1.25rem;
    padding: 1rem;
  }

  .tot {
    margin: 0 0 0.75rem 0;
  }

  .flex img {
    width: 80px;
  }

  .flex {
    margin: 0.5rem 6rem;
  }

  .col-head,
  .condition {
    font-size: 1.25rem;
  }

  article img {
    width: 50%;
    margin: 0 1.5rem 1rem 1rem;
  }

  footer {
    grid-template-columns: 1fr 1fr 2.5fr;
    padding: 1rem;
  }

  footer section {
    grid-column: 1 / 3;
  }

  .zoomed img {
    display: none;
  }

  .map {
    display: block;
    grid-row: 1 / 3;
  }

  .map img {
    width: 75%;
  }

  .container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .lastfigure {
    grid-column: 3 / 4;
    width: 100%;
  }

  .container img:hover {
    box-shadow: 0 0 0.5rem 0.5rem rgb(64, 64, 64);
  }

  .visit {
    grid-column: 1 / 3;
    align-self: start;
    padding: 1rem;
  }

  p.wireframes {
    align-self: end;
  }

  legend {
    font-size: 1.5rem;
  }

  form button.submit {
    padding: 0.75rem;
    margin: 1rem;
    font-size: 1.5rem;
  }

  form button.submit:hover {
    border: 3px dashed rgb(0, 100, 0);
  }

  form {
    grid-column: 1 / 2;
  }

  form fieldset {
    padding: 1rem 2rem 1rem 1rem;
  }

  input[type=radio] {
    width: 18px;
    height: 18px;
  }

  figure.rainbow,
  figure.thunderstorm {
    grid-column: 2 / 3;
    display: block;
    text-align: center;
    justify-self: center;
  }

  figure.rainbow {
    width: 90%;
    height: 450px;
    margin-top: 7rem;
    grid-row: 2 / 3;
    align-self: flex-start;
  }

  figure.thunderstorm {
    width: 90%;
    height: 475px;
    grid-row: 2 / 3;
    align-self: flex-end;
    margin-bottom: 11rem;
  }

  .homemain {
    display: block;
    margin: 0;
  }

  div.sections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 0;
  }

  div.sections section {
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: 1px solid rgb(64, 64, 64);
  }

  div.sections section div {
    padding: 0.5rem;
  }

  div.sections section img {
    width: 100%;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }

  article {
    padding: 0 1rem 1rem 1rem;
  }

  #copyright {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    align-self: flex-end;
  }

  div.sections section:nth-child(even) {
    flex-direction: column;
  }

  .heavysnowfall {
    border-radius: 0.25rem;
  }
}